body {
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.html, body, input, textarea, select, button, dialog {
    background: #1c1e1f;
}

.client-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    justify-content: space-between;
}

a {
    color: #3ba7ff;
}

.team-100 {
    background: #023b64;
}

.team-200 {
    background: #531313;
}

.team-unknown {
    background: rgb(56, 61, 63);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-top : solid 1px black;
    border-bottom : solid 1px black;
    padding: 10px;
}

.menu .active {
    background: #026440;
    color: white;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    border: solid 1px transparent;
}

.menu a:hover {
    color: #026440;
    border: solid 1px #026440;
}

.menu .active:hover {
    color: white;
}

.content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.previous-participant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.previous-participant-container > div {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.previous-participant-container > textarea {
    width: 100%;
    height: 50px;
    padding: 2px;
    box-sizing: border-box;
    color: white;
}

.previous-data-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      "item0 item5"
      "item1 item6"
      "item2 item7"
      "item3 item8"
      "item4 item9"
}

.game-detailed-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      "item0 item5"
      "item1 item6"
      "item2 item7"
      "item3 item8"
      "item4 item9"
}

.previous-data-container > .previous-participant-container {
    padding: 10px;
    box-sizing: border-box;
}

.item0 {
    grid-area: item0;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}

.button-submit {
   --b: 3px;
   --s: .45em;
   --color: rgb(2, 92, 59);
    cursor: pointer;

   padding: calc(.5em + var(--s)) calc(.9em + var(--s));
   color: var(--color);
   --_p: var(--s);
   background:
           conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
           var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
   transition: .1s linear, color 0s, background-color 0s;
   outline: var(--b) solid #0000;
   outline-offset: .6em;
   font-size: 16px;

   border: 0;

   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button-submit:hover,
.button-submit:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-submit:active {
    background: var(--color);
    color: #fff;
}

.current-participant-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    padding: 0.3em;
    grid-row-gap: 0.3em;
    font-size: 0.7em;
    border: solid 2px transparent;
}

.game-container {
    grid-column: 1 / 6;
    height: 0;
    animation: hideAnimation 0.5s forwards;
}

.game-container.show {
    max-height: 400px;
    height: auto;
    animation: expandAnimation 0.5s forwards;
    overflow-y: auto;
}

.game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    background: #7e817f;
    color: black;
    margin-bottom: 2px;
}

.game > div {
    display: flex;
}

@keyframes expandAnimation {
    0% {
        height: 0;
    }
    100% {
        height: 400px;
    }
}

.detailed-card {
    display: grid;
    font-size: 0.8em;
    padding: 5px;
}

.detailed-card > label {
    display: flex;
}

.division-container {
    font-size: 0.6em;
}

.small-multiple {
    font-size: 0.5em;
}

.header-status-container {
    margin-top: 0.7em;
}

.online-status {
    background: #026440;
}

.offline-status {
    background: #531313;
}

#status-header {
    padding: 5px;
    border-radius: 15px;
}

.premade-1 {
    border-color: #044200;
}

.premade-2 {
    border-color: #003b42;
}

.premade-3 {
    border-color: #424200;
}

.premade-4 {
    border-color: #040042;
}

/* The Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    background-color: #1c1e1f;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    width: 60%;
    transform: translateY(-50%);
    animation: pop-up 0.3s ease-out;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Animation */
@keyframes pop-up {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.history-game-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 0.2em;
    column-gap: 1em;
}

.history-game-container .save-button {
    --b: 3px;
    --s: .45em;
    --color: #3ba7ff;
    cursor: pointer;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
            conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
            var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .1s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 10px;
    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.history-game-container .save-button:hover,
.history-game-container .save-button:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.history-game-container .save-button:active {
    background: var(--color);
    color: #fff;
}

.button-submit-show-game {
    font-size: 10px;
}

.history-game-container {
    border-bottom: solid 1px black;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.history-id-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-id-container.win {
    color: #026440;
}

.history-id-container.lose {
    color: #531313;
}

.history-container {
    max-height: 100%;
    overflow-y: scroll;
}

.header-status-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}

.login-container {

}

.control-panel {
    padding-top: 5px;
}

.control-panel input {
    color: white;
    border: solid 3px rgb(2, 92, 59);
    padding: 5px;
    font-size: 16px;
    margin-right: 5px;
}

.champions-container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0.2em;
    height: 100%;
    overflow-y: scroll;
    margin-top: 10px;
}

.champion-info {
    position: relative;
    width: 90%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 0.3em;
}

.champion-info img {
    width: 75%;
    height: 50%;
    border-radius: 50%;
}

.chest-available {
    border: 2px solid gold;
}

.last-played-time {
    color: #666;
}

.champions-controller-control-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    grid-template-areas:
    "filter-div filter-div filter-div show-chests"
    "sort-name sort-id sort-last-played reset";

    padding: 1em;
}

.filter-div {
    grid-area: filter-div;
    margin: auto;
}

.filter-div input {
    color: white;
    border: solid 3px rgb(2, 92, 59);
    padding: 5px;
    font-size: 16px;
}

.sort-name {
    display: grid;
    grid-gap: 0.2em;
    grid-area: sort-name;
}
.sort-id {
    display: grid;
    grid-gap: 0.2em;
    grid-area: sort-id;
}
.sort-last-played {
    display: grid;
    grid-gap: 0.2em;
    grid-area: sort-last-played;
}
.reset {
    display: grid;
    grid-gap: 0.2em;
    grid-area: reset;
}
.show-chests {
    grid-area: show-chests;
    display: flex;
    align-items: center;
    justify-content: center;
}

.champions-controller-control-panel button {
    background: #026440;
    color: white;
    border: solid 1px transparent;
    cursor: pointer;
}

.show-chests-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #026440;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.show-chests-checkbox input[type="checkbox"] {
    display: none;
}

.show-chests-checkbox .checkmark {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.show-chests-checkbox input[type="checkbox"]:checked ~ .checkmark {
    opacity: 1;
}

.show-chests-checkbox .checkmark:before,
.show-chests-checkbox .checkmark:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: #026440;
    top: 0;
    left: 7px;
}

.show-chests-checkbox .checkmark:before {
    transform: rotate(45deg);
}

.show-chests-checkbox .checkmark:after {
    transform: rotate(-45deg);
}

.show-chests-checkbox label {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.champions-controller-control-panel .active {
    background: #015734;
}

.champion-list-container {
    height: 90vh;
    overflow-y: auto;
    display: grid;
    padding: 0.5em;
    grid-template-columns: repeat(10, 1fr);
}

.champion-info-small {
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 0.3em;
}

.champion-info-small img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ban-container {
    overflow-y: auto;
    display: grid;
    padding: 0.5em;
    grid-template-columns: repeat(10, 1fr);
}
.pick-container {
    overflow-y: auto;
    display: grid;
    padding: 0.5em;
    grid-template-columns: repeat(10, 1fr);
}

.mode-container {
    padding: 1em;
    margin: 1em;
    border: solid 1px black;
}

.config-button {
    background-color: #026440;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.config-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.config-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.config-button:hover:before {
    opacity: 1;
}

.config-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.champion-list-container .champion-info-small {
    cursor: pointer;
}

.champion-list-container.list-bans .champion-info-small:hover {
    background: #531313;
}

.champion-list-container.list-picks .champion-info-small:hover {
    background: #026440;
}
.mode-container .champion-info-small {
    cursor: pointer;
}

.mode-container .champion-info-small:hover {
    background: rgba(255, 255, 255, 0.2);
}
